<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="country_name" id="name" placeholder="Enter Country Name"><br>
    <input type="text" name="currency" id="price" placeholder="Enter currency"><br>
    <input type="text" name="native_name" id="native_name" placeholder="Enter Native Name"><br>
    <input type="text" name="capital" id="capital" placeholder="Enter capital"><br>
    <input type="text" name="population" id="population" placeholder="Enter population"><br>
    <input type="text" name="region" id="region" placeholder="Enter region"><br>
    <input type="text" name="country_code" id="country_code" placeholder="Enter Country Code"><br>
    <input type="text" name="laguage" id="laguage" placeholder="Enter Language"><br>
    <input type="file" name="country_image" id="country_image"><br>
    
    <input type="submit" name="submit" id="submit">
</form>
