<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="countryName" id="name" placeholder="Enter Country Name"><br>
    <input type="text" name="currency" id="price" placeholder="Enter currency"><br>
    <input type="text" name="nativeName" id="nativeName" placeholder="Enter Native Name"><br>
    <input type="text" name="capital" id="capital" placeholder="Enter capital"><br>
    <input type="text" name="population" id="population" placeholder="Enter population"><br>
    <input type="text" name="region" id="region" placeholder="Enter region"><br>
    <input type="text" name="countryCode" id="countryCode" placeholder="Enter Country Code"><br>
    <input type="text" name="language" id="language" placeholder="Enter Language"><br>
    <input type="file" name="countryImage" id="countryImage"><br>
    
    <input type="submit" name="submit" id="submit">
</form>
