{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Countries</title>
</head>
<body>
    <!-- As a heading -->
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Countries</span>
  </nav>
  {% if user.is_authenticated %}
    {{user}}
    <a href="{% url 'account_logout' %}">Sign Out</a>
  {% else %}
    <a class="btn btn-outline-primary" href="{% provider_login_url 'google' %}">Login With Google</a>
    <a class="btn btn-outline-primary" href="{% provider_login_url 'facebook' method='js_sdk' %}">Facebook Connect</a>
  {% endif %}

  {% block body %}
  
  {% endblock %}
</body>
</html>