# django
# whitenoise
# gunicorn
# django-heroku
# Pillow
# django-rest-framework

asgiref
certifi
cffi
chardet
cryptography
defusedxml
Django
django-allauth
django-rest-framework
djangorestframework
idna
oauthlib
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
urllib3
whitenoise